/*Guardando los colores en variables */
:root {
  --primary-color: #36bed5;
  --second-color-dark: #272d2d;
  --third-color-light: #eff8fa;
  --fourth-color-optional: #413962;
  --type-word-web-m: "Mukta", sans-serif;
  --type-word-web-r: "Roboto Mono", monospace;
}

.options a {
  position: relative;
}

.options a::after {
  content: "";
  position: absolute;
  width: 0;
  display: flex;
  background-color: var(--primary-color);
  left: 40%;
  height: 0.25rem;
  transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
}

.options a:hover::after {
  width: 100%;
  left: 0;
}

@keyframes rotateY-infinite {
  0% {
    transform: rotateY(360deg);
  }
}

.skills img {
  animation: rotateY-infinite 5s ease-in-out infinite;
}
