/*----------------- Guardando los colores y la tipografia en variables----------------- */
:root {
  --primary-color: #39bed5;
  --second-color-dark: #272d2d;
  --third-color-light: #eff8fa;

  --type-word-web-m: "Mukta", sans-serif;
  --type-word-web-r: "Roboto Mono", monospace;

  --bgColor: rgb(39, 45, 45);
  --bgLinearSky: linear-gradient(
    279deg,
    rgba(39, 45, 45, 1) 0%,
    rgba(57, 190, 213, 1) 90%
  );

  --bgLinearChange: linear-gradient(
    81deg,
    rgba(39, 45, 45, 1) 0%,
    rgba(57, 190, 213, 1) 90%
  );
}

/* ------------------------ Reset a parte de normalize.css ----------------------------- */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--type-word-web-r);
  background-image: var(--bgLinearSky);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 90%;
  width: 1100px;
  margin: 0 auto;
}

.separator {
  padding: 10rem 0;
}

.header {
  display: none;
  background-color: var(--second-color-dark);
  position: fixed;
  width: 100%;
  z-index: 1;
  font-family: var(--type-word-web-m);
}

@media (min-width: 768px) {
  .header {
    display: block;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}

.options {
  list-style: none;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  padding: 0;
}

@media (min-width: 768px) {
  .options {
    flex-direction: row;
  }
}

.options a {
  text-decoration: none;
  padding: 1rem;
  color: var(--third-color-light);
}

.options a {
  position: relative;
}

.options a::after {
  content: "";
  position: absolute;
  width: 0;
  display: flex;
  background-color: var(--primary-color);
  left: 40%;
  height: 0.25rem;
  transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
}

.options a:hover::after {
  width: 100%;
  left: 0;
}

/* mobile */
.mobile {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  color: var(--second-color-dark);
}

.mobile__icon {
  font-size: 1.5rem;
  opacity: 1;
}

.mobile__icon:hover {
  animation-name: movIconMobile;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
 /*  animation-fill-mode: both; */
  animation-direction: alternate;
}

@keyframes movIconMobile {
  0% {
    opacity: 0.5;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    color: var(--primary-color);
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

/*-------------------------------------------- Efectos de social media -------------------------------*/
.social-media {
  display: none;
  position: fixed;
  height: 100vh;
  top: 35%;
  z-index: 1;
}

@media (min-width: 1200px) {
  .social-media {
    display: block;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.box a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  color: var(--second-color-dark);
  margin: 0.3em;
  background: var(--third-color-light);
  position: relative;
  transition: all 0.4s;
}
.box a:hover {
  transform: scale(0.9);
}

.box a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 55px;
  font-family: cursive;
  border-radius: 50px;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--second-color-dark);
  background: var(--third-color-light);
  font-family: var(--type-word-web-m);
  display: none;
}
.box a:hover::before {
  display: flex;
}

.box a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  transform: scale(0);
  transition: all 0.4s;
}
.box a:hover::after {
  transform: scale(0.8);
}
.box a i {
  z-index: 20;
  transition: all 0.4s;
}
.box a:hover i {
  color: var(--third-color-light);
}

/* images */
.logo {
  width: 4rem;
}

/*====================================================
Main
======================================================*/

@media (min-width: 1200px) {
  .main {
    background-image: var(--bgLinearSky);
    height: 100vh;
  }
}

.main__grid {
  padding: 5rem 0 0;
  display: grid;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 768px) {
  .main__grid {
    padding: 10rem 0 0;
  }
}

@media (min-width: 1200px) {
  .main__grid {
    padding: 0;
    height: 100vh;
    grid-template-columns: 40% 60%;
  }
}

h1 {
  color: var(--third-color-light);
  font-family: var(--type-word-web-m);
  font-size: 3rem;
  margin: 1rem 0;
}

.main__typed {
  font-size: 1.5rem;
  color: var(--third-color-light);
}

.typed-cursor {
  color: var(--third-color-light);
}

.main__img {
  animation-name: movImg;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes movImg {
  0% {
  }
  50% {
    transform: translateY(-2%);
  }
  75% {
    transform: translateY(2%);
  }

  100% {
    transform: translateY(0);
  }
}

/*====================================================
ABOUT
======================================================*/

@media (min-width: 1200px) {
  .about {
    background-image: var(--bgLinearChange);
    height: 100vh;
  }
}

.about__grid {
  padding: 10rem 0;
  display: grid;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 1200px) {
  .about__grid {
    padding: 0;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
  }
}

.about__img {
  animation-name: movImg;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__heading {
  color: var(--third-color-light);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}

.about__cv {
  color: var(--third-color-light);
  background-color: var(--second-color-dark);
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.about__cv:hover {
  transform: scale(0.9);
}
