/*Guardando los colores en variables */
:root {
  --primary-color: #39bed5;
  --second-color-dark: #272d2d;
  --third-color-light: #eff8fa;
  --fourth-color-optional: #413962;
  --type-word-web-m: "Mukta", sans-serif;
  --type-word-web-r: "Roboto Mono", monospace;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  background-color: var(--second-color-dark);
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: var(--type-word-web-m);
}

img {
  max-width: 100%;
  height: auto;
}

.nav {
  width: 70%;
  padding: 5px 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  list-style: none;
  display: flex;
}
.options a {
  text-decoration: none;
  padding: 10px;
  color: var(--third-color-light);
}

/* social media */
.social-media {
  position: fixed;
  height: 100vh;
  top: 35%;
  z-index: 1;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.box a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  color: var(--second-color-dark);
  margin: 0.3em;
  background: var(--third-color-light);
  position: relative;
  transition: all 0.4s;
}
.box a:hover {
  transform: scale(0.9);
}

.box a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 55px;
  font-family: cursive;
  border-radius: 50px;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--second-color-dark);
  background: var(--third-color-light);
  font-family: var(--type-word-web-m);
  display: none;
}
.box a:hover::before {
  display: flex;
}

.box a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  transform: scale(0);
  transition: all 0.4s;
}
.box a:hover::after {
  transform: scale(0.8);
}
.box a i {
  z-index: 20;
  transition: all 0.4s;
}
.box a:hover i {
  color: var(--third-color-light);
}

/* ----------------------------fullpage----------------------------- */
/* container */
.container {
  display: flex;
}
h1 {
  font-family: var(--type-word-web-r);
  font-size: 1.7rem;
  color: var(--second-color-dark);
}

.occupation {
  font-family: var(--type-word-web-m);
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 4rem;
  color: var(--third-color-light);
  margin: 0;
}

/* images */

.logo {
  width: 60px;
}

.img-1 {
  width: 59%;
  position: absolute;
  left: 40%;
}

.img-2 {
  width: 35%;
  position: absolute;
  right: 50%;
  top: 30%;
  transform: scaleX(-1);
}

.img-3 {
  width: 38%;
  position: absolute;
  top: 10%;
  right: 50%;
}

.part-color,
.part-color-contact {
  background: rgb(39, 45, 45);
  background: linear-gradient(
    312deg,
    rgba(39, 45, 45, 1) 4%,
    rgba(57, 190, 213, 1) 32%,
    rgba(57, 190, 213, 1) 96%
  );
  height: 100vh;
  width: 70%;
}

.part-white-story {
  background: rgb(39, 45, 45);
  background: linear-gradient(
    312deg,
    rgba(39, 45, 45, 1) 4%,
    rgb(255, 255, 255) 32%,
    rgb(255, 255, 255) 96%
  );
  height: 100vh;
  width: 70%;
}
.part-color > * {
  width: 60%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18%;
}

.part-black {
  background-color: var(--second-color-dark);
  width: 30%;
  height: 100vh;
}
.part-white-story > * {
  width: 55%;
  margin-left: auto;
  margin-right: 8%;
  margin-top: 12%;
}

.part-white-story .buttons {
  display: flex;
  justify-content: center;
}

.part-white-story p {
  text-align: justify;
}

.part-white-story a {
  text-decoration: none;
  color: var(--second-color-dark);
  font-family: var(--type-word-web-r);
  font-weight: bold;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-color: var(--primary-color);
  border-radius: 0.8rem;
}

.part-white-story a:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn-active {
  background-color: var(--primary-color);
  color: var(--third-color-light);
  box-shadow: 2px 3px 5px 0 var(--second-color-dark);
}

.part-white-story p {
  font-family: var(--type-word-web-m);
}

.part-above {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 85vh;
  padding: 0 10px;
  margin-left: 15%;
  margin-right: 10%;
}

.part-above h2 {
  font-family: var(--type-word-web-r);
  margin: 0 2rem 1rem;
}

/* ----carousel---- */
.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #fff;
  opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
}

.carousel__anterior {
  left: -30px;
}

.carousel__siguiente {
  right: -30px;
}

.carousel__lista {
  overflow: hidden;
}

.carousel__elemento {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  margin: 0 1rem;
  height: 100%;
  padding: 1rem;
  border-radius: 2rem;
  font-family: var(--type-word-web-r);
}

.carousel__elemento h3 {
  text-align: center;
  font-size: 1rem;
  width: 100%;
  margin: 0;
}

.carousel__elemento .img-card {
  text-align: center;
  width: 100%;
  height: 40%;
}

.carousel__elemento p {
  margin: 1rem 0;
}

.carousel__elemento hr {
  width: 100%;
}

.carousel__elemento .links {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.links img {
  filter: grayscale(100%);
}

.links img:hover {
  cursor: pointer;
  filter: grayscale(0%);
}

.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: #fff;
  opacity: 0.2;
  border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
  opacity: 0.5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

.part-color-contact > * {
  width: 60%;
  text-align: justify;
  margin-left: auto;
  margin-right: 8%;
  margin-top: 5%;
}

.part-color-contact h4 {
  margin: 0;
}

.part-color-contact h4,
p,
input {
  font-family: var(--type-word-web-r);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form .name-email {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.name-email > * {
  width: 48%;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.form textarea {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  height: 200px;
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input::placeholder,
textarea::placeholder {
  color: var(--second-color-dark);
  font-family: var(--type-word-web-r);
}

input:focus,
textarea:focus {
  outline-style: none;
  border: 0;
  caret-color: var(--third-color-light);
}

.submit {
  background-color: var(--second-color-dark);
  color: var(--third-color-light);
  width: 25%;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
}
.submit:hover {
  cursor: pointer;
  opacity: 0.9;
}

/*---------------- Footer ---------------------- */
.footer {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer .card-about {
  position: absolute;
  color: white;
  width: 85%;
  padding: 5rem;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.father-card {
  display: flex;
}
.only-about {
  width: 70%;
  text-align: justify;
  font-family: var(--type-word-web-r);
  color: var(--second-color-dark);
}
.only-about h3 {
  text-align: center;
}

.rights {
  text-align: center;
  color: var(--third-color-light);
}

/* Mi foto */
.imagec {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  margin: 10px;
  width: 310px;
  overflow: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
.imagec * {
  transition: all 0.35s ease-in-out;
}
.only-card img {
  opacity: 0.4;
  max-width: 100%;
  position: relative;
}
.only-card figcaption {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  transform-origin: center 0;
  transform: rotate(0deg) translateY(-50%) scale(1);
}
.only-card span {
  font-weight: 800;
}
.only-card figcaption h2 {
  top: 50%;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.5rem 0;
  font-weight: 200;
  font-family: var(--type-word-web-m);
}

.only-card figcaption p {
  font-family: var(--type-word-web-r);
  font-size: 0.8rem;
  margin: 0 0 0.4rem 0;
}
.only-card figcaption:before,
.only-card figcaption:after {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  display: block;
  transition: all 0.35s ease-in-out;
}
.only-card figcaption:before {
  left: 0;
  top: 0;
}
.only-card figcaption:after {
  bottom: 0;
  right: 0;
}
.imagec:hover img {
  opacity: 1;
}
.imagec:hover figcaption {
  transform: rotate(-45deg) translateY(-50%) scale(0.9);
}
.imagec:hover figcaption:before,
.imagec:hover figcaption:after {
  width: 200%;
}

/* Media querys */
