:root {
  --primary-color: #39bed5;
  --second-color-dark: #272d2d;
  --third-color-light: #eff8fa;
  --type-word-web-m: "Mukta", sans-serif;
  --type-word-web-r: "Roboto Mono", monospace;
  --bgColor: rgb(39, 45, 45);
  --bgLinearSky: linear-gradient(
    279deg,
    rgba(39, 45, 45, 1) 0%,
    rgba(57, 190, 213, 1) 90%
  );
  --bgLinearChange: linear-gradient(
    81deg,
    rgba(39, 45, 45, 1) 0%,
    rgba(57, 190, 213, 1) 90%
  );
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: var(--type-word-web-r);
  background-image: var(--bgLinearSky);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  max-width: 90%;
  width: 1100px;
  margin: 0 auto;
}
.separator {
  padding: 10rem 0;
}
.container_loading {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.oculto {
  display: none;
}
.withoutOverflow {
  overflow: hidden;
}
.container_loading .box {
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container_loading .box .title {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  height: 50px;
}
.container_loading .box .title .block {
  width: 0%;
  height: inherit;
  display: flex;
  background: #39bed5;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}
.container_loading .box .title .block__title {
  font-family: var(--type-word-web-m);
  color: #fff;
  font-size: 32px;
  opacity: 0;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  display: flex;
  align-items: baseline;
  position: relative;
}
.container_loading .box .title .block__title span {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #39bed5;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.container_loading .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}
.container_loading .box .role .block {
  width: 0%;
  height: inherit;
  background: #eff8fa;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}
.block__text {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: var(--type-word-web-r);
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0;
    height: 0;
    background: #39bed5;
    opacity: 0;
    border: 0 solid #ddd;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #39bed5;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #39bed5;
    border: 0 solid #222;
    bottom: 13px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.header {
  display: none;
  background-color: var(--second-color-dark);
  position: fixed;
  width: 100%;
  z-index: 2;
  font-family: var(--type-word-web-m);
}
@media (min-width: 768px) {
  .header {
    display: block;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}
.options {
  list-style: none;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  padding: 0;
}
@media (min-width: 768px) {
  .options {
    flex-direction: row;
  }
}
.options a {
  text-decoration: none;
  padding: 1rem;
  color: var(--third-color-light);
}
.options a {
  position: relative;
}
.options a::after {
  content: "";
  position: absolute;
  width: 0;
  display: flex;
  background-color: var(--primary-color);
  left: 40%;
  height: 0.25rem;
  transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
}
.options a:hover::after {
  width: 100%;
  left: 0;
}
.mobile {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}
.mobile__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  color: var(--third-color-light);
}
.mobile__icon {
  font-size: 1.5rem;
  opacity: 1;
}
.mobile__icon:hover {
  animation-name: movIconMobile;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes movIconMobile {
  0% {
    opacity: 0.5;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    color: var(--primary-color);
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
.social-media {
  display: none;
  position: fixed;
  height: 100vh;
  z-index: 1;
}
@media (min-width: 1200px) {
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.box a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  color: var(--second-color-dark);
  margin: 0.3em;
  background: var(--third-color-light);
  position: relative;
  transition: all 0.4s;
}
.box a:hover {
  transform: scale(0.9);
}
.box a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 55px;
  font-family: cursive;
  border-radius: 50px;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--second-color-dark);
  background: var(--third-color-light);
  font-family: var(--type-word-web-m);
  display: none;
}
.box a:hover::before {
  display: flex;
}
.box a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  transform: scale(0);
  transition: all 0.4s;
}
.box a:hover::after {
  transform: scale(0.8);
}
.box a i {
  z-index: 20;
  transition: all 0.4s;
}
.box a:hover i {
  color: var(--third-color-light);
}
.logo {
  width: 4rem;
}
@media (min-width: 1200px) {
  .main {
    background-image: var(--bgLinearSky);
    height: 100vh;
  }
}
.main__grid {
  padding: 5rem 0 0;
  display: grid;
  gap: 2rem;
  align-items: center;
}
@media (min-width: 768px) {
  .main__grid {
    padding: 10rem 0 0;
  }
}
@media (min-width: 1200px) {
  .main__grid {
    padding: 0;
    height: 100vh;
    grid-template-columns: 40% 60%;
  }
}
h1 {
  color: var(--third-color-light);
  font-family: var(--type-word-web-m);
  font-size: 3rem;
  margin: 1rem 0;
}
.main__typed {
  font-size: 1.5rem;
  color: var(--third-color-light);
}
.typed-cursor {
  color: var(--third-color-light);
}
.main__img {
  animation-name: movImg;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}
@keyframes movImg {
  50% {
    transform: translateY(-2%);
  }
  75% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0);
  }
}
@media (min-width: 1200px) {
  .about {
    background-image: var(--bgLinearChange);
    height: 100vh;
  }
}
.about__grid {
  padding: 8rem 0 0;
  display: grid;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 1200px) {
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about__img {
  animation-name: movImg;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}
.about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__heading {
  color: var(--third-color-light);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
}
.about__text {
  color: var(--third-color-light);
}
.about__cv {
  color: var(--third-color-light);
  background-color: var(--second-color-dark);
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.about__cv:hover {
  transform: scale(0.9);
}
.about__skills {
  padding: 5rem 0 0;
}
@media (min-width: 1200px) {
  .about__skills {
    padding: 0;
  }
}
.about__container {
  margin: 2rem auto;
}
@media (min-width: 1200px) {
  .about__container {
    margin: 0.3rem auto;
  }
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: var(--third-color-light);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.slider::after,
.slider::before {
  background: linear-gradient(to right, #eff8fa 0, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 1;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: calc(250px * 14);
}
.slide img {
  padding: 0.2rem 0;
  transition: transform 0.5s ease;
}
@media (min-width: 768px) {
  .slide img {
    opacity: 0.8;
  }
}
.slide img:hover {
  opacity: 1;
  transform: scale(1.1);
}
@media (min-width: 1200px) {
  .portfolio {
    background-image: var(--bgLinearSky);
  }
}
.portfolio__container {
  position: relative;
  padding: 5rem 0;
}
@media (min-width: 768px) {
  .portfolio__container {
    padding: 8rem 0;
  }
}
.portfolio__heading {
  color: var(--third-color-light);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 0;
  width: 100%;
}
.portfolio__grid {
  display: grid;
  gap: 2rem;
}
@media (min-width: 1200px) {
  .portfolio__grid {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
  }
}
.card {
  position: relative;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .card:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .card:nth-child(2) {
    grid-column: 3/5;
  }
  .card:nth-child(3) {
    grid-column: 5/6;
  }
  .card:nth-child(4) {
    grid-column: 3/4;
  }
  .card:nth-child(5) {
    grid-column: 4/6;
  }
  .card:nth-child(6) {
    grid-column: 1/4;
  }
  .card:nth-child(7) {
    grid-column: 4/6;
  }
}
.card__img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 768px) {
  .card__img {
    width: 100%;
    height: 30rem;
  }
}
@media (min-width: 1200px) {
  .card__img {
    width: 100%;
    height: 100%;
  }
}
.card:hover .card__container {
  opacity: 1;
  transform: translateY(-100%);
}
@media (min-width: 768px) {
  .card:hover .card__container {
    transform: translateY(-40%);
  }
}
@media (min-width: 1200px) {
  .card:hover .card__container {
    transform: translateY(-12rem);
  }
}
.card__container {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);

  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.8s ease-out;
}
.card__title {
  color: var(--second-color-dark);
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 1.1rem;
}
.card__text {
  padding: 0 1rem;
}
.card__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card__link img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
.footer {
  background-color: var(--second-color-dark);
}
@media (min-width: 768px) {
  .footer {
    padding: 1rem 0;
  }
}
.footer__grid {
  padding: 4rem 0 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .footer__grid {
    padding: 1rem 0;
  }
}
.social-footer {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 1200px) {
  .social-footer {
    display: none;
  }
}
.social-footer__link {
  text-decoration: none;
}
.social-footer__icon {
  font-size: 2rem;
  color: var(--third-color-light);
}
.footer__copyright {
  text-align: center;
  color: var(--third-color-light);
}
