/*----------------- Guardando los colores y la tipografia en variables----------------- */
:root {
  --primary-color: #39bed5;
  --second-color-dark: #272d2d;
  --third-color-light: #eff8fa;
  --fourth-color-optional: #413962;
  --type-word-web-m: "Mukta", sans-serif;
  --type-word-web-r: "Roboto Mono", monospace;
}

/* ------------------------ Reset a parte de normalize.css ----------------------------- */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

header {
  background-color: var(--second-color-dark);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  font-family: var(--type-word-web-m);
}

img {
  max-width: 100%;
  height: auto;
}

.nav {
  width: 70%;
  padding: 0.5rem 0 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  list-style: none;
  display: flex;
}
.options a {
  text-decoration: none;
  padding: 1rem;
  color: var(--third-color-light);
}

.options a {
  position: relative;
}

.options a::after {
  content: "";
  position: absolute;
  width: 0;
  display: flex;
  background-color: var(--primary-color);
  left: 40%;
  height: 0.25rem;
  transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
}

.options a:hover::after {
  width: 100%;
  left: 0;
}

@keyframes rotateY-infinite {
  0% {
    transform: rotateY(360deg);
  }
}

/*-------------------------------------------- Efectos de social media -------------------------------*/
.social-media {
  position: fixed;
  height: 100vh;
  top: 35%;
  z-index: 1;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.box a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  color: var(--second-color-dark);
  margin: 0.3em;
  background: var(--third-color-light);
  position: relative;
  transition: all 0.4s;
}
.box a:hover {
  transform: scale(0.9);
}

.box a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 55px;
  font-family: cursive;
  border-radius: 50px;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--second-color-dark);
  background: var(--third-color-light);
  font-family: var(--type-word-web-m);
  display: none;
}
.box a:hover::before {
  display: flex;
}

.box a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  transform: scale(0);
  transition: all 0.4s;
}
.box a:hover::after {
  transform: scale(0.8);
}
.box a i {
  z-index: 20;
  transition: all 0.4s;
}
.box a:hover i {
  color: var(--third-color-light);
}

/* ---------------------------- burger ---------------------------- */

.burger {
  display: none;
}

.off-canvas-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  opacity: 0;
}

.off-canvas-burger {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 998;
  width: 3rem;
  height: 0.6rem;
  background-color: var(--third-color-light);
  border-radius: 0.25rem;
  transform: rotate(0deg) translate(0, -1.2rem);
  transform-origin: top left;
  transition: transform 0.5s ease;
}

.off-canvas-burger::before,
.off-canvas-burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.6rem;
  border-radius: 0.3rem;
  background-color: var(--third-color-light);
  transition: transform 0.5s ease;
}

.off-canvas-burger::before {
  transform: rotate(0deg) translate(0, -0.9rem);
  background-color: var(--third-color-light);
}
.off-canvas-burger::after {
  transform: rotate(0deg) translate(0, 0.3rem);
  background-color: var(--third-color-light);
}

.off-canvas-btn:checked + .off-canvas-burger {
  background-color: transparent;
}

.off-canvas-btn:checked + .off-canvas-burger::before {
  transform: rotate(45deg) translate(0, 0);
}
.off-canvas-btn:checked + .off-canvas-burger::after {
  transform: rotate(-45deg) translate(0.4rem, -0.5rem);
}

.off-canvas-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 997;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1rem);
  transition: transform 500ms ease-in-out;
  transform: translate(100%, 0);
}

.off-canvas-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}

.off-canvas-link {
  color: var(--second-color-dark);
  text-decoration: none;
  font-size: 2rem;
  transition: background-color 300ms ease-in;
}

.off-canvas-btn:checked ~ .off-canvas-menu {
  transform: translate(0, 0);
}

.social-media-burger a {
  text-decoration: none;
  color: var(--second-color-dark);
}

/* -------------------------------------------- Fullpage ----------------------------------- */
/* Container general */
.fullpage {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: block mandatory;
}

.section {
  width: 100%;
  height: inherit;
  scroll-snap-align: start;
}

.container {
  display: flex;
  position: relative;
}

h1 {
  font-family: var(--type-word-web-r);
  font-size: 1.7rem;
  color: var(--second-color-dark);
}

.occupation {
  font-family: var(--type-word-web-m);
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 4rem;
  color: var(--third-color-light);
  margin: 0;
}

/* images */
.logo {
  width: 4rem;
}

.img-1 {
  width: 59%;
  position: absolute;
  top: 10%;
  left: 40%;
}

.img-2 {
  width: 35%;
  position: absolute;
  right: 50%;
  top: 30%;
  transform: scaleX(-1);
}

.img-3 {
  width: 38%;
  position: absolute;
  top: 20%;
  right: 50%;
}

.part-color,
.part-color-contact {
  background: rgb(39, 45, 45);
  background: linear-gradient(
    312deg,
    rgba(39, 45, 45, 1) 4%,
    rgba(57, 190, 213, 1) 32%,
    rgba(57, 190, 213, 1) 96%
  );
  height: 100vh;
  width: 70%;
}

.part-white-story {
  background: rgb(39, 45, 45);
  background: linear-gradient(
    312deg,
    rgba(39, 45, 45, 1) 4%,
    rgb(255, 255, 255) 32%,
    rgb(255, 255, 255) 96%
  );
  height: 100vh;
  width: 70%;
}
.part-color > * {
  width: 60%;
  text-align: justify;
  margin: 25% auto 0;
}

.part-black {
  background-color: var(--second-color-dark);
  width: 30%;
  height: 100vh;
}

/*-------------------------------- Media queria SECTION 1 (inicio) --------------------------*/

@media screen and (max-width: 62em) {
  .fullpage {
    scroll-snap-type: none;
  }
  .section {
    scroll-snap-align: none;
  }

  .nav {
    display: none;
  }
  .burger {
    display: block;
  }
  #fp-nav {
    display: none;
  }
  .part-color {
    width: 100%;
    position: absolute;
  }
  .part-black {
    width: 0;
  }
  .part-color > * {
    width: 90%;
  }

  .options {
    visibility: hidden;
  }

  .social-media {
    visibility: hidden;
  }

  h1 {
    font-size: 2rem;
  }
  .occupation {
    font-size: 5rem;
    line-height: 4rem;
  }
  .img-1 {
    width: 100%;
    top: 45%;
    left: 0;
    filter: drop-shadow(0.5rem 0 0 var(--second-color-dark));
  }
}

@media screen and (max-width: 48em) {
  h1 {
    font-size: 3rem;
  }
  .occupation {
    font-size: 4rem;
    line-height: 4rem;
  }
  .occupation {
    font-size: 4rem;
    line-height: 4rem;
  }
  .img-1 {
    top: 40%;
  }
}

@media screen and (max-width: 35em) {
  h1 {
    font-size: 2rem;
  }
  .occupation {
    font-size: 3rem;
    line-height: 3rem;
  }
  .img-1 {
    top: 45%;
  }
}

@media screen and (max-width: 18em) {
  h1 {
    font-size: 1rem;
  }
  .occupation {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.part-white-story > * {
  width: 55%;
  margin-left: auto;
  margin-right: 8%;
  margin-top: 12%;
}

.part-white-story .buttons {
  display: flex;
  justify-content: center;
}

.part-white-story p {
  text-align: justify;
}

.part-white-story a {
  text-decoration: none;
  color: var(--third-color-light);
  font-family: var(--type-word-web-r);
  font-weight: bold;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-color: var(--primary-color);
  border-radius: 0.8rem;
  background-color: var(--primary-color);
  box-shadow: 2px 3px 5px 0 var(--second-color-dark);
  cursor: none;
}

.part-white-story p {
  font-family: var(--type-word-web-m);
}

.skills {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.skills div {
  margin: 0.5rem 0 0;
  display: flex;
  flex-wrap: wrap;
}

.skills img {
  animation: rotateY-infinite 10s ease-in-out infinite;
}

/*-------------------------------- Media queria SECTION 2 (historia, habilidades y herramientas) --------------------------*/

@media screen and (max-width: 62em) {
  .part-white-story {
    width: 70%;
  }
  .part-black {
    width: 30%;
  }
  .part-white-story > * {
    width: 90%;
    margin: 1rem auto;
  }
  .part-white-story p {
    padding: 1rem;
    margin: 0;
  }
  .img-2 {
    width: 60%;
    top: 45%;
    left: 35%;
    visibility: visible;
  }
  .skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .skills div {
    margin: 1rem 0;
    padding: 0;
  }
}

@media screen and (max-width: 48em) {
  .img-2 {
    width: 60%;
    top: 55%;
    left: 35%;
    visibility: visible;
  }
  .skills div {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 35em) {
  .part-white-story {
    width: 100%;
  }
  .part-white-story > * {
    width: 100%;
    margin: 0.4rem auto;
  }
  .part-black {
    width: 0;
  }
  .img-2 {
    visibility: hidden;
  }
}

@media screen and (max-width: 30em) {
  .part-white-story {
    width: 100%;
  }
  .part-black {
    width: 0;
  }
  .img-2 {
    visibility: hidden;
  }

  .skills div {
    margin: 0.3rem 0 0;
  }
}

@media screen and (max-width: 18em) {
  .part-white-story > * {
    width: 100%;
    margin: 0.2rem 0;
  }

  .part-white-story p {
    font-size: 0.9rem;
  }
  .buttons a {
    font-size: 0.8rem;
  }
}

.part-above {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 85vh;
  padding: 0 0.5rem;
  margin-left: 15%;
  margin-right: 10%;
}

.part-above h2 {
  font-family: var(--type-word-web-r);
  margin: 0 2rem 1rem;
}

/* ----carousel---- */
.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #fff;
  opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
}

.carousel__anterior {
  left: -30px;
}

.carousel__siguiente {
  right: -30px;
}

.carousel__lista {
  overflow: hidden;
}

.carousel__elemento {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  margin: 0 1rem;
  height: 100%;
  padding: 1rem;
  border-radius: 2rem;
  font-family: var(--type-word-web-r);
  transition: transform 1s ease-in-out;
}

.carousel__elemento:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: perspective(20rem) translateZ(-0.5rem);
}

.carousel__elemento h3 {
  text-align: center;
  font-size: 1rem;
  width: 100%;
  margin: 0;
}

.carousel__elemento .img-card {
  text-align: center;
  width: 100%;
  height: 40%;
}

.carousel__elemento p {
  margin: 1rem 0;
}

.carousel__elemento hr {
  width: 100%;
}

.carousel__elemento .links {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.links img {
  filter: grayscale(100%);
}

.links img:hover {
  cursor: pointer;
  filter: grayscale(0%);
}

.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: #fff;
  opacity: 0.2;
  border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
  opacity: 0.5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

/*-------------------------------- Media queria SECTION 3 (Proyectos) --------------------------*/
@media screen and (max-width: 62em) {
  .part-above {
    width: 88%;
    margin: 0 0 0 1rem;
  }
  .part-above h2 {
    margin: 1rem 0;
  }

  .carousel__contenedor {
    width: 100%;
    left: 3%;
    margin: 0;
    padding: 0;
  }
  .carousel__elemento {
    margin: 0 1rem;
    padding: 1rem;
  }

  .carousel__elemento h3 {
    font-size: 1rem;
  }

  .carousel__elemento p {
    margin: 0;
    font-size: 1rem;
  }

  .carousel__elemento hr {
    width: 100%;
  }
  .links img {
    width: 25%;
  }
}

.part-color-contact > * {
  width: 60%;
  text-align: justify;
  margin-left: auto;
  margin-right: 8%;
  margin-top: 15%;
}

.part-color-contact h4 {
  margin: 0;
}

.part-color-contact h4,
p,
input {
  font-family: var(--type-word-web-r);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--type-word-web-r);
}

.form .name-email {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.name-email > * {
  width: 48%;
  padding: 0.7rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.form textarea {
  width: 100%;
  border-radius: 10px;
  padding: 0.7rem;
  height: 15rem;
  margin: 1rem 0;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input::placeholder,
textarea::placeholder {
  color: var(--second-color-dark);
  font-family: var(--type-word-web-r);
}

input:focus,
textarea:focus {
  outline-style: none;
  border: 0;
  caret-color: var(--third-color-light);
}

.submit {
  background-color: var(--second-color-dark);
  color: var(--third-color-light);
  width: 25%;
  border-radius: 10px;
  height: 3rem;
}
.submit:hover {
  cursor: pointer;
  opacity: 0.9;
}

/*-------------------------------- Media queria SECTION 4 (contacto) --------------------------*/
@media screen and (max-width: 62em) {
  .part-color-contact {
    width: 70%;
    position: relative;
  }
  .part-black {
    width: 30%;
  }
  .part-color-contact > * {
    width: 100%;
  }
  .form {
    position: absolute;
    top: 30%;
    z-index: 1;
  }

  .form p {
    padding: 0 2rem;
  }

  .form .name-email {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .name-email > * {
    width: 90%;
    margin: 0.5rem 0;
  }

  .form textarea {
    width: 90%;
    height: 10rem;
    margin: 0.5rem 0;
    z-index: 1;
  }

  .submit {
    background-color: var(--second-color-dark);
    color: var(--third-color-light);
    width: 30%;
    border-radius: 10px;
    height: 3rem;
  }

  .img-3 {
    width: 60%;
    left: 25%;
    top: 1%;
  }
}

@media screen and (max-width: 48em) {
  .form {
    top: 30%;
  }
  .img-3 {
    width: 50%;
    left: 25%;
    top: 1%;
  }
}

@media screen and (max-width: 35em) {
  .part-color-contact {
    width: 100%;
    position: relative;
  }
  .part-black {
    width: 0;
  }
  .img-3 {
    visibility: hidden;
  }
  .form {
    top: 5%;
  }
  .submit {
    width: 40%;
  }
}

@media screen and (max-width: 18em) {
  .form p {
    padding: 0 1rem;
  }
  .img-3 {
    display: none;
  }
  .form {
    top: 1%;
  }
  .submit {
    width: 50%;
  }
}

/*---------------- Footer ---------------------- */
.footer {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer .card-about {
  position: absolute;
  color: white;
  width: 85%;
  padding: 5rem;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.father-card {
  display: flex;
}
.only-about {
  width: 70%;
  text-align: justify;
  font-family: var(--type-word-web-r);
  color: var(--second-color-dark);
}
.only-about h3 {
  text-align: center;
}

.rights {
  text-align: center;
  color: var(--third-color-light);
}

/* Mi foto */
.imagec {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  margin: 1rem;
  width: 20rem;
  overflow: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
.imagec * {
  transition: all 0.35s ease-in-out;
}
.only-card img {
  opacity: 0.4;
  max-width: 100%;
  position: relative;
}
.only-card figcaption {
  position: absolute;
  top: 50%;
  left: 3rem;
  right: 1rem;
  transform-origin: center 0;
  transform: rotate(0deg) translateY(-50%) scale(1);
}
.only-card span {
  font-weight: 800;
}
.only-card figcaption h2 {
  top: 50%;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.5rem 0;
  font-weight: 200;
  font-family: var(--type-word-web-m);
}

.only-card figcaption p {
  font-family: var(--type-word-web-r);
  font-size: 0.8rem;
  margin: 0 0 0.4rem 0;
}
.only-card figcaption:before,
.only-card figcaption:after {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  display: block;
  transition: all 0.35s ease-in-out;
}
.only-card figcaption:before {
  left: 0;
  top: 0;
}
.only-card figcaption:after {
  bottom: 0;
  right: 0;
}
.imagec:hover img {
  opacity: 1;
}
.imagec:hover figcaption {
  transform: rotate(-45deg) translateY(-50%) scale(0.9);
}
.imagec:hover figcaption:before,
.imagec:hover figcaption:after {
  width: 200%;
}

/*-------------------------------- Media queria SECTION 5 (plus y CV) --------------------------*/
@media screen and (max-width: 62em) {
  .footer {
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

  .footer .card-about {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .father-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .imagec {
    margin: 1rem auto 0;
  }

  .only-about {
    margin: 0;
    top: 0;
    width: 80%;
    padding: 0 1rem;
  }
  .footer-rights {
    position: absolute;
    height: 22%;
    width: 100%;
    top: 80%;
    background-color: var(--second-color-dark);
    border-radius: 3rem 3rem 0 0;
  }
  .svg-footer {
    display: none;
  }
}

@media screen and (max-width: 48em) {
  .rights {
    display: flex;
    flex-direction: column;
  }
  .rights p {
    padding: 0;
    margin: 1rem 0;
  }
  .only-about{
    width: 90%;
  }
}

@media screen and (max-width: 35em) {
  figcaption {
    display: none;
  }
  .imagec {
    width: 20%;
    border-radius: 50%;
  }
  .imagec img{
    opacity: 1;
  }
  .only-about {
    margin: 0;
    top: 0;
    width: 100%;
    padding: 0 1rem;
  }
  .footer-rights {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 24em) {
  .only-card {
    display: none;
  }

  .only-about{
    margin: 0;
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }

  .rights p {
    margin: 0.5rem 0;
    padding: 0;
  }
}

@media screen and (max-width: 20em) {
 /*  .footer-rights {
    display: none;
  } */
  .only-about {
    font-size: 0.9rem;
  }
}
